<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/styles/styles.css">   
</head>
<body>
    <nav class="container-navigation">
        <img src="/images/CodeSquad-logo.png" alt="logo for CodeSquad" class="navigation-logo">
        <div class="container-navigation-links">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </div>
    </nav>
    <div class="container-content-main">
        <h1>About</h1>
        <p>Hey <%= name %>. This is the about html file being served up.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque animi vero ipsam tempore fugit magnam est quam, rem assumenda! Beatae eligendi distinctio enim minus fugiat voluptates illo facilis quam itaque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem dicta, impedit delectus amet, aspernatur, officia repellat sequi et laudantium cumque ut maiores autem officiis sapiente commodi fugit minus dolores totam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt nulla dolorum rem fugiat, sint at molestiae, blanditiis, debitis consequatur eum non nesciunt eveniet distinctio optio. Id nobis vel voluptas autem.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum facilis qui iste, voluptatum excepturi voluptates cumque nulla cum laborum, sunt, veritatis ab! Hic eum magnam explicabo ab harum doloribus rem.</p>
    </div>
    <footer>
        <div class="container-footer-links">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </div>
        <p>
            Copyright &#169; CodeSquad 
            <%= copyrightYear %>
            All rights reserved. 
        </p> 
    </footer>
</body>
</html>