<%- include('../partials/head') -%>
<%- include('../partials/navigation-bar') -%>
    <div class="container-content-main">
        <h1>Homepage</h1>
        <p>Hey <%= name %>. This is the homepage html file being served up.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque animi vero ipsam tempore fugit magnam est quam, rem assumenda! Beatae eligendi distinctio enim minus fugiat voluptates illo facilis quam itaque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem dicta, impedit delectus amet, aspernatur, officia repellat sequi et laudantium cumque ut maiores autem officiis sapiente commodi fugit minus dolores totam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt nulla dolorum rem fugiat, sint at molestiae, blanditiis, debitis consequatur eum non nesciunt eveniet distinctio optio. Id nobis vel voluptas autem.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum facilis qui iste, voluptatum excepturi voluptates cumque nulla cum laborum, sunt, veritatis ab! Hic eum magnam explicabo ab harum doloribus rem.</p>
    </div>
    <%- include('../partials/footer') -%>