<footer>
    <div class="container-footer-links">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </div>
    <p>
        Copyright &#169; CodeSquad 
        <%= copyrightYear %>. 
        All rights reserved. 
    </p> 
</footer>
</body>
</html>