<nav class="container-navigation">
    <img src="/images/CodeSquad-logo.png" alt="logo for CodeSquad" class="navigation-logo">
    <div class="container-navigation-links">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </div>
</nav>