.display-none {
    display: none;
}

.btn {
    background-color: #05aa73;
    border: none;
    color: white;
    cursor: pointer;  
    font-size: 1em;   
     margin: 0.5em;      
    padding: 12px 28px;
}
.btn:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

body {
    background-color: #a7eef3;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    max-width: 25em;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-img {
    height: 3em;
}

ul {
    list-style-type: none;
    padding: 0;
}