:root {
    --green: #174316;
    --white: #ffffff;
    --black: #000000;
    --gray: #B8B8BA;
}

body {
    width: 100%;
    max-width: 100vw;
    margin: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: var(--green);
}

nav img {
    width: 150px;
    height: auto;
    margin: 10px;
}

nav li {
    list-style-type: none;
    display: inline;
    margin: 0 10px;
}

.container-navigation-links {
    display: flex;
    flex-direction: row;
    width: 400px;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5em;
}

.container-navigation-links a:link,
.container-navigation-links a:visited {
    text-decoration: none;
    color: var(--white);
}

.container-navigation-links a:hover,
.container-navigation-links a:active {
    text-decoration: underline;
    color: var(--white);
}

.container-content-main {
    width: 50%;
    margin: 50px 0;
}

.container-content-main a:link,
.container-content-main a:visited {
    text-decoration: none;
    color: var(--green);
}

.container-content-main a:hover,
.container-content-main a:active {
    text-decoration: underline;
    color: var(--black);
}

.container-product {
    font-size: 1.5em;
    margin: 10px 0;
}

footer {
    background-color: var(--gray);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer p {
    margin-right: 20px;
}

.container-footer-links {
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: space-around;
    align-items: center;
    margin-left: 20px;
}

footer a:link,
footer a:visited {
    text-decoration: none;
    color: var(--green);
}

footer a:hover,
footer a:active {
    text-decoration: underline;
    color: var(--black);
}