<%- include('../partials/head') -%> 

<%- include('../partials/navigation-bar') -%> 

    <div class="container-content-main">
        <h1>Hello <%= name %>! Welcome to The Skate Shop. </h1>

        <h4><a href="/inventory">Browse our inventory here.</a></h4>

        <p>This is filler code to make the page look nice. Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus dolores, sunt, quasi consequatur alias accusantium assumenda ad rem laboriosam soluta maiores repudiandae, facilis eius hic debitis modi? Labore, ipsum temporibus.</p>
        <p>This is filler code to make the page look nice. Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus dolores, sunt, quasi consequatur alias accusantium assumenda ad rem laboriosam soluta maiores repudiandae, facilis eius hic debitis modi? Labore, ipsum temporibus.</p>
        <p>This is filler code to make the page look nice. Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus dolores, sunt, quasi consequatur alias accusantium assumenda ad rem laboriosam soluta maiores repudiandae, facilis eius hic debitis modi? Labore, ipsum temporibus.</p>
        <p>This is filler code to make the page look nice. Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus dolores, sunt, quasi consequatur alias accusantium assumenda ad rem laboriosam soluta maiores repudiandae, facilis eius hic debitis modi? Labore, ipsum temporibus.</p>
    </div>

<%- include('../partials/footer') -%> 